<template>
  <require from="resources/elements/image-carousel"></require>
  <require from="resources/elements/price-and-offers"></require>
  <require from="resources/elements/purchasing-options"></require>
  <require from="resources/elements/review-box"></require>
  <require from="resources/elements/product-highlights"></require>

  <div class="grid-container">
    <div class="grid-x grid-margin-x catalog-item-body">
      <div class="small-12 large-6 cell align-center">
        <h1 class="item-title">${catalogEntry.title}</h1>
        <image-carousel image-collection.bind="catalogEntry.Images[0]"></image-carousel>
        <review-box class="show-for-medium" reviews.bind="catalogEntry.CustomerReview[0]"></review-box>
      </div>
      <div class="small-12 large-6 cell">
        <price-and-offers price.bind="catalogEntry.Offers[0].OfferPrice[0]" promotions.bind="catalogEntry.Promotions"></price-and-offers>
        <purchasing-options catalog-entry.bind="catalogEntry"></purchasing-options>
        <product-highlights item-features.bind="catalogEntry.ItemDescription[0].features"></product-highlights>
        <review-box class="show-for-small-only" reviews.bind="catalogEntry.CustomerReview[0]"></review-box>
      </div>
    </div>
  </div>
</template>
