@import 'foundation';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-visibility-classes;

@import '../src/resources/elements/image-carousel';
@import '../src/resources/elements/price-and-offers';
@import '../src/resources/elements/product-highlights';
@import '../src/resources/elements/purchasing-options';
@import '../src/resources/elements/review-box';
@import '../src/resources/elements/review-box/review-stars';
@import '../src/resources/elements/review-box/review-block';

.catalog-item-body {
  margin-top: 5rem;
}

.item-title {
  margin: {
    bottom: 2rem;
  }
  text-align: center;
  font-weight: 300;
  font-size: 1.75rem;

  @include breakpoint(large) {
    font-size: 2.5rem;
  }
}
