<template>
  <div class="review-stars" aria-label="Overall review score. ${reviewScore} out of 5 stars.">
    <div class="review-star" repeat.for="i of 5">
      <div class="${largeStars ? 'large-star' : 'small-star'}" class.bind="computeStarColor(i) & signal: 'refresh-stars'">
    </div>
  </div>
</template>
