.review-block {
  &-title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.25rem;

    @include breakpoint(large) {
      font-size: 1.25rem;
    }
  }

  &-text {
    font-size: 0.9rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
  }

  &-author {
    font-size: 0.9rem;
  }
}
