<template>
  <require from="resources/elements/review-box/review-stars"></require>
  <require from="resources/value-converters/date"></require>

  <div class="review-block">
    <review-stars review-score.bind="review.overallRating"></review-stars>
    <h3 class="review-block-title">${review.title}</h3>
    <p class="review-block-text">
      ${review.review}
    </p>
    <div class="review-block-author">
      <a href="#">${review.screenName}</a>
      <span class="review-block-author-date">
        ${review.datePosted | date}
      </span>
    </div>
  </div>
</template>
