.review-stars {
  display: flex;
  flex-direction: row;

  .review-star {
    .large-star {
      width: 20px;
      height: 19px;

      @include breakpoint(medium) {
        width: 30px;
        height: 29px;
      }
    }

    .small-star {
      width: 15px;
      height: 14px;

      @include breakpoint(medium) {
        width: 20px;
        height: 19px;
      }
    }

    .gray-star {
      background-image: url('../static/gray-star.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    .red-star {
      background-image: url('../static/red-star.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
