@import "../../../styles/settings";

.image-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-image {
    align-self: center;
  }

  &-selector {
    margin: {
      top: 3rem;
      bottom: 1rem;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    &-arrow {
      img {
        height: 2.5rem;
      }
    }

    &-thumbnail {
      img {
        height: 4rem;
        padding: {
          top: 0.25rem;
          left: 0.5rem;
          right: 0.5rem;
          bottom: 0.25rem;
        }
      }
      border: thin solid $white; // Hack to prevent the style slightly reflowing the page.
      
      // We don't need hover if we're on touch devices. Since CSS Media Queries Level 4 isn't well supported yet, this is a working hack.
      @include breakpoint(large) {
        &:hover {
          border: thin solid $dark-gray;
        }
      }

      &-selected {
        border: thin solid $medium-gray;
      }
    }
  }
}
