<template>
  <div class="image-carousel">
    <img src.bind="currentImage" alt="product image" class="image-carousel-image">
    <div class="image-carousel-selector">
      <button show.bind="imageIndex > 0" class="image-carousel-selector-arrow" click.delegate="previousImage()" aria-label="Previous Image">
        <img src="../../../static/arrow-left.svg">
      </button>
      <button show.bind="leftThumbnail" class="image-carousel-selector-thumbnail" click.delegate="previousImage()">
        <img class="image-carousel-selector-thumbnail-left" src.bind="leftThumbnail" alt="thumbnail">
      </button>
      <button show.bind="currentThumbnail" class="image-carousel-selector-thumbnail image-carousel-selector-thumbnail-selected">
        <img class="image-carousel-selector-thumbnail-center" src.bind="currentThumbnail" alt="thumbnail">
      </button>
      <button show.bind="rightThumbnail" class="image-carousel-selector-thumbnail" click.delegate="nextImage()">
        <img class="image-carousel-selector-thumbnail-right" src.bind="rightThumbnail" alt="thumbnail">
      </button`>
      <button show.bind="imageIndex < imageLocations.length - 1" class="image-carousel-selector-arrow" click.delegate="nextImage()" aria-label="Next Image">
        <img src="../../../static/arrow-right.svg">
      </button>
    </div>
  </div>
</template>
