<template>
  <div class="price-and-offers-container">
    <div class="price">
      <div class="price-value">${price.formattedPriceValue}</div>
      <div class="price-qualifier">${price.priceQualifier}</div>
    </div>
    <div class="offers">
      <div class="offers-item" repeat.for="promotion of promotions">${promotion.Description[0].shortDescription}</div>
    </div>
  </div>
</template>
