@import "../../../styles/settings";
@import "util/util";

.price-and-offers-container {
  .price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  
    &-value {
      font-weight: bold;
      font-size: 1.75rem;
      padding-right: 0.25rem;
  
      @include breakpoint(large) {
        font-size: 2.25rem;
      }
    }
  
    &-qualifier {
      text-transform: lowercase;
      font-weight: 300;
      font-size: 1rem;
    }
  }

  .offers {
    margin: {
      top: 1rem;
      bottom: 1rem;
    }

    padding: {
      top: 1rem;
      bottom: 1rem;
    }

    border: {
      top: solid thin $medium-gray;
      bottom: solid thin $medium-gray;
    }

    &-item {
      color: get-color('target-red');

      &:before {
        content: '';
        background-size: 15px 15px;
        background-image: url('../static/tag.svg');
        background-repeat: no-repeat;
        margin-top: 5px;
        margin-right: 0.3rem;
        display: block;
        width: 15px;
        height: 15px;
        float: left;
      }
    }
  }
}
