.product-highlights {
  &-header {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: lowercase;
  }

  &-list {
    li {
      margin-bottom: 0.4rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
