<template>
  <require from="resources/value-converters/strip-html"></require>

  <div class="product-highlights">
    <h2 class="product-highlights-header">Product Highlights</h2>
    <ul class="product-highlights-list">
      <li repeat.for="feature of itemFeatures">${feature | stripHtml}</li>
    </ul>
  </div>
</template>
