<template>
  <div class="purchasing-options">
    <div class="quantity-selector">
      <div class="quantity-selector-label">quantity:</div>
      <div class="quantity-selector-button-group">
        <div class="quantity-selector-button">
          <button click.delegate="subtractQuantity()">
            <img src="../../../static/subtract-button.svg" alt="subtract quantity">
          </button>
        </div>
        <div class="quantity-selector-count">${quantity}</div>
        <div class="quantity-selector-button">
          <button click.delegate="addQuantity()">
            <img src="../../../static/add-button.svg" alt="add quantity">
          </button>
        </div>
      </div>
    </div>
    <div class="purchase-button-group">
      <button if.bind="showPurchaseInStoreButton" class="purchase-button purchase-button-in-store">Pick Up In Store</button>
      <button if.bind="showAddToCartButton" class="purchase-button purchase-button-add-cart">Add to Cart</button>
    </div>
    <div class="returns-information">
      <div class="returns-information-label">Returns</div>
      <div class="returns-information-message">This item must be returned within ${returnPolicyNumDaysForUser} days of the ship date. See
        <a href="">return policy</a> for details. Prices, promotions, styles and availability may vary by store and online.</div>
    </div>
    <div class="save-and-share-button-group">
      <button class="save-and-share-button">Add to Registry</button>
      <button class="save-and-share-button">Add to List</button>
      <button class="save-and-share-button">Share</button>
    </div>
  </div>
</template>
