@import "../../../styles/settings";
@import "util/util";

.purchasing-options {
  margin-bottom: 1rem;

  .quantity-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: thin solid $medium-gray;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    max-width: 18rem;
    margin-bottom: 1.25rem;

    &-button {
      height: 1.75rem;
      width: 1.75rem;
    }

    &-button-group {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-count {
      margin: {
        left: 0.5rem;
        right: 0.5rem;
      }
      font-weight: bold;
    }
  }

  .purchase-button-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    
    .purchase-button {
      border-radius: 3px;
      color: white;
      width: 50%;
      padding: 0.6rem;
      text-transform: uppercase;

      &-in-store {
        border: thin solid $black;
        margin-right: 0.2rem;
        background: linear-gradient(0deg, rgba(10,10,10,1) 50%, rgba(10,10,10,0.65) 100%);
      }

      &-add-cart {
        border: thin solid get-color('target-red');
        margin-left: 0.2rem;
        background: linear-gradient(0deg, rgba(204,0,0,1) 50%, rgba(204,0,0,0.65) 100%);
      }
    }
  }

  .returns-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;

    &-label {
      text-transform: lowercase;
      padding-right: 1rem;
    }

    &-message {
      border-left: solid thin $medium-gray;
      font-size: 0.7rem;
      padding-left: 1rem;

      a {
        font-weight: bold;
        color: $black;
      }
    }
  }

  .save-and-share-button-group {
    display: flex;
    flex-direction: row;

    .save-and-share-button {
      background-color: $light-gray;
      border: thin solid $light-gray;
      border-radius: 3px;
      flex-basis: 0;
      flex-grow: 1;
      font-size: 0.75rem;
      margin-right: 0.25rem;
      padding: 0.25rem;
      text-transform: uppercase;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
