<template>
  <require from="resources/elements/review-box/review-stars"></require>
  <require from="resources/elements/review-box/review-block"></require>

  <div class="review-box">
    <div class="review-box-above">
      <div class="review-box-overall-rating">
        <review-stars review-score.bind="reviews.consolidatedOverallRating" large-stars.bind="true"></review-stars>
        <p>overall</p>
      </div>
      <a href="">view all ${reviewCount} reviews</a>
    </div>
    <div class="review-box-pro-con">
      <div class="review-box-pro-con-header">
        <div class="review-box-pro-con-column">
          <h3>PRO</h3>
          <p>most helpful 4-5 star review</p>
        </div>
        <div class="review-box-pro-con-column">
          <h3>CON</h3>
          <p>most helpful 1-2 star review</p>
        </div>
      </div>
      <div class="review-box-pro-con-content">
        <div class="review-box-pro-con-column">
          <review-block review.bind="reviews.Pro[0]"></review-block>
        </div>
        <div class="review-box-pro-con-column">
          <review-block review.bind="reviews.Con[0]"></review-block>
        </div>
      </div>
    </div>
  </div>
</template>
