.review-box {
  margin-top: 2rem;
  margin-bottom: 3rem;

  &-above {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    font-weight: bold;
    margin: 1rem;

    a {
      color: $black;
      margin-bottom: 0;
    }
  }

  &-overall-rating {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    p {
      margin-left: 0.5rem;
      margin-bottom: 0;
    }
  }

  &-pro-con {
    $lr-padding: 1.25rem;
    $tb-padding: 0.75rem;

    background-color: #f6f5f5;
    padding: {
      top: $tb-padding;
      left: $lr-padding;
      right: $lr-padding;
      bottom: $tb-padding + 1;
    }

    &-header {
      display: flex;
      flex-direction: row;
      border-bottom: thin solid $medium-gray;
      padding-bottom: 1.25rem;
      margin-bottom: 1rem;

      h3 {
        font-size: 1.25rem;
        margin: 0;
        font-weight: 500;
      }

      p {
        margin: 0;
        line-height: 1;
        font-size: 0.8rem;

        @include breakpoint(medium) {
          font-size: 0.9rem;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: row;
    }

    &-column {
      width: 50%;
    }
  }
}
